body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

/* Navigasi */

.navigasi {
    height: 46px;
    ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* End Navigasi */

a {
    text-decoration: none;
}

/* Main Hero */

.hero_text h1 {
    font-size: 60px;
    font-weight: bolder;
}

.hero_gambar {
    background-image: linear-gradient(rgba(185, 255, 243, 0.5), rgba(31, 12, 117, 0.5)),
        url(../img/main.png);
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 40%;
    color: white;
}

/* End  Main Hero */

.contain1 h2 {
    font-size: 40px;
    font-weight: bolder;
}

/* Blog */
.container {
    width: 900px;
    margin-left: 7%;
}

.path {
    font-weight: bold;
    margin-top: 2%;
}

.header .judul {
    font-weight: bold;
    font-size: 20pt;
    margin-top: 2%;
}

.header p {
    font-size: 18pt;
}

.header .date {
    font-size: 14pt;
}

.content {
    font-size: 14pt;
    line-height: 1.5;
}

.gambar_blog {
    width: 480px;
    height: 300px;
}

.judul_blog {
    font-size: 14pt;
}

.isi_blog {
    font-size: 12pt;
}

.oleh_blog {
    font-size: 12pt;
}

.tanggal_blog {
    font-size: 10pt;
}

.hero_blog {
    margin-top: 3%;
    height: 500px;
    background-image: url(../img/klee.jpg);
    background-size: cover;
}

/* End Blog */

/* Form */

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: 2px solid #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: 2px solid #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.divform {
    width: 1000px;
    margin-left: 15%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.divform .tab {
    padding-left: 50px;
}


/* Footer */
.footer {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12pt;
}

/* End Footer */